In [58]:
import pandas as pd
import numpy as np

In [59]:
mortality_rate_url = "https://en.wikipedia.org/wiki/List_of_countries_by_infant_and_under-five_mortality_rates"
GDP_per_capita_url = "https://en.wikipedia.org/wiki/List_of_countries_by_GDP_(PPP)_per_capita"
population_url = "https://en.wikipedia.org/wiki/List_of_countries_and_dependencies_by_population"

In [60]:
mortality_page = pd.read_html(mortality_rate_url)

In [61]:
mortality_data = mortality_page[2][["Country or territory", "2019mortality rate,under-5(per 1000live births)"]]
mortality_data.columns = ["country", "under-5 mortality per 1000 births"]

In [62]:
mortality_data.head(2)

       country  under-5 mortality per 1000 births
0  Afghanistan                               60.3
1      Albania                                9.7

In [63]:
# life_expectancy_page = pd.read_html(life_expectancy_url)

In [64]:
GDP_per_capita_page = pd.read_html(GDP_per_capita_url)

In [65]:
GDP_per_capita_data = GDP_per_capita_page[3][["Country/Territory", "Int$"]]
GDP_per_capita_data.columns = ["country", "gdp per cap"]

In [66]:
GDP_per_capita_data.head(2)

      country  gdp per cap
0       Macau       129103
1  Luxembourg       121293

In [67]:
population_page = pd.read_html(population_url)

In [68]:
population_data = population_page[0][["Country(or dependent territory)", "Population"]]
population_data.columns = ["country", "population"]

In [69]:
population_data.head(2)

    country  population
0  China[b]  1405660160
1  India[c]  1370601758

In [70]:
life_expectancy_data = pd.read_csv("API_SP.DYN.LE00.IN_DS2_en_csv_v2_1740384.csv")

In [73]:
life_expectancy_data = life_expectancy_data[["Country Name", "2018"]]
life_expectancy_data.columns = ["country", "life expectancy"]

In [74]:
life_expectancy_data.head(2)

       country  life expectancy
0        Aruba           76.152
1  Afghanistan           64.486